@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#card{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 2rem 0rem;
    margin: 2rem 5rem;

}

img#avatar{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 3px solid black;
}

h1{
    font-size: 3rem;
    padding: 1rem 0rem;
}

h2{
    font-size: 2rem;
}

article#identity{
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

article#identity aside{
    padding: 2rem 5rem; 
}

article#identity aside p{
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

article#contact{
    text-align: center;
}

article#contact aside{
    padding: 1rem 5rem; 
}

article#contact aside p{
    font-size: 1.5rem;
}

button{
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2%;
    transition: 0.2s;
}

button:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    color: black;
}

@media only screen and (max-width: 600px) {
    html {
      font-size: 50%;
    }
  }